<div class="children">
  <div class="p-gradient">
    <div class="animation">
      <div class="animation__container">
        <!--<p class="animation__container__text">-->
          <!--We-->
        <!--</p>-->

        <ul class="animation__container__list">
          <li class="animation__container__list__item">Eat!</li>
          <li class="animation__container__list__item">Class !</li>
          <li class="animation__container__list__item">Code !</li>
          <li class="animation__container__list__item">Sleep !</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="cb-gradient"></div>
</div>

<div id="main-start" class=" main-wrapper main-wrapper-raised">
  <section>
    <div class="container-fluid">

      <h2 class="heading-main">Recommended Courses</h2>
      <hr class="text">
      <div class="courses-section row container">
        {{#each model.recommendedCourses as |course|}}
          {{card-component course=course class="col-xs-12 col-sm-6 col-md-4 col-lg-4"}}
        {{/each}}
      </div>
      <div class="container justify-content-center text-center">
        {{#link-to 'courses' class='all-courses-btn' tagName='button'}}View All Courses{{/link-to}}
      </div>
    </div>
  </section>
</div>