<div class="children">
  <img class="bg-image" src="http://futuremaker.in/wp-content/uploads/2017/03/Kickassd-Educational-Program.jpg"
       alt="program-img">
  <div class="p-gradient">
    <div class="bg-text">
      <span>Unique</span>
      <span>Simple</span>
      <span>Modern</span>
      <span>Creative</span>
      <span>Parallaxhtml5</span>
    </div>

  </div>
  <div class="cb-gradient"></div>
</div>
<div class="img-main container-fluid">

  <h2 class="heading-main">Recommended Courses</h2>
  <hr class="text">
  <div class="courses-section row container">
    {{#each model.recommendedCourses as |course|}}
      {{card-component course=course class="col-md-4"}}
    {{/each}}
  </div>
  <div class="container">
    {{#link-to 'courses' class='all-courses-btn btn-primary'}}View All Courses{{/link-to}}
  </div>
</div>
