#example{
  height: 900px;
}
.full-width{
  width: 100%!important;
}
.choices > .item {
  min-height: 30px;
  margin: 10px 0px;
  padding: 50px 0px;
}
.choices .content {
  margin-left: 5px;
  position: relative;
  top: 5px;
}
.item.selected {
  background: lightgrey;
}
.toc {
  height: 900px;
}

.container {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

//Nested list styles begin
.just-padding {
  padding: 15px;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 50px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}
//Nested list styles end

.sections {
  border-left: 1px solid grey;
}

// Remove this ******
ul.question_choices li.selected {
  background: yellow;
}
