@import "animate.scss";
// Colors [[
$off-white: #fefefe;
$light-gray: #e3e3e3;
$black: rgba(0, 0, 0, 0.9);
$pink: #e24d82;
$majenta: #d95787;

// ]] Colors
// ]] Mixins [[
body {
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
}

@mixin gradient {
  background: $pink;
  height: 800px;
  z-index: 1000;
  opacity: .9;
  position: absolute;
  width: 30%;
}

// ]]Animations [[

@keyframes rotateWord {

  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    transform: translateY(-30px);
  }
  5% {
     opacity: 1;
     transform: translateY(0px);
   }

  17% {
      opacity: 1;
      transform: translateY(0px);
    }
  20% {
      opacity: 0;
      transform: translateY(30px);
    }
  80% {
      opacity: 0;
    }

  100% {
       opacity: 0;
     }
}

// Util [[
.mb-5 {
  margin-bottom: 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mbt-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
// ]] Util

// Global [[
h2 {
  line-height: 3.8rem;
}
// ]] Global

#example{
  height: 900px;
}
.full-width{
  width: 100%!important;
}
.choices > .item {
  min-height: 30px;
  margin: 10px 0px;
  padding: 50px 0px;
}
.choices .content {
  margin-left: 5px;
  position: relative;
  top: 5px;
}
.item.selected {
  background: lightgrey;
}
.toc {
  height: 900px;
}

.container {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
    .heading-main {
        color: white;
        font-weight: 100;
        margin-top: 50px;
    }
}

.jumbotron {
  margin-top: 30px;
  box-shadow: 12px 15px 20px 0 rgba(46,61,73,.15);
  transition: all .3s ease;
  z-index: 1000px;
}

.custom-nav {
  position: fixed;
  z-index: 10000;
  width: 100%;
}

.custom-btn {
  background: #dc5a86;
  border: solid 1px #dc5a86;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.875rem;
  padding: 0 1.5rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  transition: background 300ms ease-out;
  border-radius: 2px;
  box-sizing: border-box;
  height: 32px;
}

.custom-nav-link {
  padding: .25rem 0 .5rem 0;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.50rem;
  text-align: left;
}

.custom-course-card {
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
  transition: all .3s ease;
  width: 348px;
  margin: 10px;
  height: 418px;
}
.children {
  height: 800px;
  img {
    position: fixed;
    height: 800px;
    right: 0;
    left:0;
    z-index: -2000;
    width: 100%;

  }
  .p-gradient {
    @include gradient;
    .bg-text {
      position: relative;
      top: 40%;
      left: 30%;
      font-size: 20px;
      color: white;

      span {
        position: absolute;
        opacity: 0;
        display: block;
        overflow: hidden;
        animation: rotateWord 18s linear infinite 0s;
      }
    }
  }


  .cb-gradient {
    @include gradient;
    content: '';
    z-index: 100;
    opacity: .9;
    position: absolute;
    width: 100%;
    transform-origin: left bottom;
    left: 30%;
    -ms-transform: skew(0deg,-50deg);
    -webkit-transform: skew(0deg,-50deg);
    -moz-transform: skew(0deg,-50deg);
    -o-transform: skew(0deg,-50deg);
    transform: skew(0deg,-50deg);
  }

}

.nav-white {
  background-color: white;
  box-shadow: rgba(46, 61, 73, 0.15) 12px 2px 20px 0px;
  .nav-link {
    color: black;
  }
}
.nav-transparent {
  background-color: transparent;
  box-shadow: none;
  .nav-link {
    color: white
  }
}

.img-main {
  background: url('http://designova.net/themes/wordpress/live9/wp-content/uploads/2013/05/bg01.jpg') 0px -336.329px
              repeat-y;
  padding-bottom: 188px;

  .heading-main {
    text-align: center;
    font-weight: 200;
    padding: 50px;
    font-size: 38px;
    margin-top: 0;
    color: $majenta;

  }

  .horizontal-img-main {
    margin-top: 140px;

  }

}

.card {
  margin-left: 40px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);;
   .card-block {
     box-shadow: 12px 15px 20px 0 rgba(46,61,73,.15);

     .card-title {
       padding: 10px 15px;
       font-weight: 200;
       text-align: center;
     }
     .card-text {
       width: 100%;
       box-sizing: border-box;
       font-weight: 700;
       padding: 20px 10px;
       text-align: center;
       top: 50%;
     }
   }

}
.card-deck {
  justify-content: center;
}


.course-card {
  .course-title {

  }
}


//Nested list styles begin
.just-padding {
  padding: 15px;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 50px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}
//Nested list styles end

.sections {
  border-left: 1px solid grey;
}

// Remove this ******
ul.question_choices li.selected {
  background: yellow;
}

// Home Page
.jumbotron-wrapper {
  background-position: 100% 55%;

  .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .jumbotron {
    background: rgba(255, 255, 255, 0.5);
  }
}

// Course Cards
.course-card-wrapper {
}

.course-cards {
  list-style: none;
  padding-left: 0;
  text-align: center;
  font-size: 0.1rem;

  h3 {
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  .course-card {
    border-radius: 3px;
    padding-bottom: 1rem;
    //@include bounceInUp(
    //  $duration: 2s,
    //  $delay: .6s,
    //  $function: ease,
    //  $fill: both
    //);
  }

  .course-card .course-card-content {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    padding-bottom: 1rem;

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
  }

  .course-card .course-card-header {
    img {
      width: 100%;
      height: 200px;
      background: transparent;
    }
  }
}

.underline {
  border: 0;
  height: 0;
  margin-bottom: 0;
  max-width: 53.75rem;
  /* box-sizing: border-box; */
  border-bottom: 1px solid rgba(255,255,255,.3);
  border-top: 1px solid rgba(0,0,0,.1);
}

// Marketing Banner [[
.marketing-banner {
  padding-top: 5rem;
  padding-bottom: 5rem;

  .banner-left {
  }

  .banner-right {
  }
}

.marketing-banner-inverse {
  background-color: $black;
  color: $off-white;
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

// ]] Marketing Banner

/*footer*/

footer{
  color: white;
}
footer a{
  color: #bfffff;
}
footer a:hover{
  color: white;
}

.footer-bottom{
  background: #1f1f1f;
}
.footer-top{
  background: #2d4958;
}
.footer-middle{
  background: #292929;
  padding-top: 2em;
  color: white;
}
/**Sub Navigation**/
.subnavigation-container{
  background: #3d6277;
}
.subnavigation .nav-link{
  color: white;
  font-weight: bold;
}
.subnavigation-container{
  text-align: center;
}
.subnavigation-container .navbar{
  display: inline-block;
  margin-bottom: -6px; /* Inline-block margin offffset HACK -Gilron */
}
.col-subnav a{
  padding: 1rem 1rem;
  color: white;
  font-weight: bold;
}
.col-subnav .active{
  border-top:5px solid orange;
  background: white;
  color: black;
}

.logo {
  max-height: 100px;
}
