<div class="ui masthead vertical segment">
  <div class="ui container">

  </div>
</div>
<div class="course-card-wrapper">
	<div class="courses container">
		<h2 class="heading-main">Courses</h2>
		<ul class="course-cards">
			<div class="row">
				{{#each model as |course|}}
					<li class="course-container col-sm-6 col-lg-3 col-md-3 col-xs-12">
						{{course-card course=course}}
					</li>
				{{/each}}
			</div>
		</ul>
	</div>
</div>
{{outlet}}
