
<div class = "progress-main">
<div class="resume">
  {{#link-to 'classroom.run.attempt.content' contentToResume class="custom-btn " }}Resume{{/link-to}}
</div>

<div class="desc-topic">{{course.summary}}</div>

{{#each course.sections as |section sIndex| }}

  <h4>{{section.name}}</h4>
  <hr>
  <ul class="row timeline">
      {{#each section.contents as |content cIndex| }}
        <div class="col-xs-1 col-md-1 col-lg-1">
          {{#if content.progress}}
              <div class="circle-attempted">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div class="stick-attempted">
              </div>
          {{else}}
              <div class="circle">
              </div>
              <div class="stick">
              </div>
          {{/if}}
        </div>
        <div class="payload-name text-xs-center  col-xs-11 col-md-11 col-lg-11">
          <li> {{content.payload.name}} </li>
        </div>
      {{/each}}
  </ul>

{{/each}}


</div>




