<h1>Index</h1>
{{#link-to 'classroom.run.attempt.content' contentToResume class="btn btn-success"}}Resume{{/link-to}}

{{#each course.sections as |section sIndex| }}
  <hr>
  <ul>
    {{#each section.contents as |content cIndex| }}
      <li>{{content.payload.name}} {{#if content.progress}} <strong>ATTEMPTED</strong>{{/if}}</li>
    {{/each}}
  </ul>
{{/each}}