{{#each model as |run RunIndex| }}
<div class="card" style="width: 30rem;">
    <iframe width="100%" src="https://www.youtube.com/embed/oPp4htuqDOs" frameborder="0" allowfullscreen></iframe>
    <div class="card-block">
        <h4 class="card-title">{{run.course.title}} ( {{run.name}} ) ( {{run.percentComplete}}% )</h4>
        <p class="card-text">{{run.course.summary}}</p>
        {{#link-to 'classroom.run.index' run.runAttemptId class="btn btn-success"}}Resume Learning{{/link-to}}
    </div>
</div>
{{/each}}
