
<div class="classroom">
  <h6>Current Enrollments</h6>
    {{#each model as |run RunIndex| }}
      {{material-card-component run= run RunIndex= RunIndex class="material-card offset-md-1 col-md-4 col-xs-12 col-sm-12"}}
    {{/each}}
</div>