<div class="toc">
  <div class="ui sidebar inverted vertical menu visible">
    <div class="item">
      <a class="ui logo icon image" href="/">
        <img src="/images/logo.png">
      </a>
      <a href="/"><b>Learn Hackerblocks</b></a>
    </div>
    <div class="item">
      <a href="#" {{action 'login'}}>Login</a>
    </div>
  </div>
  <div class="pusher">
    jkdshj
  </div>
</div>