<div class="ui sidebar inverted vertical menu visible">
  <div class="item">
    <a class="ui image" href="/">
      <img src="/images/logo.png">
    </a>
  </div>
  <div class="item">
      {{#if session.isAuthenticated}}
        <a href="#"> Welcome {{log user}} </a>
      {{else}}
         <a href="#" {{action 'login'}}>Login</a>
      {{/if}}
  </div>
  {{#link-to 'courses.index'}}
  <div class="item">
     <a href="#">Courses</a>
  </div>
  {{/link-to}}
  {{#if session.isAuthenticated}}
    <div class="item">
      <button class="ui negative basic button" {{action "invalidateSession"}}>Logout</button>
    </div>
  {{/if}}
</div>
<div class="pusher">
  jkdshj
</div>
