<aside id="leftsidebar" class="sidebar">
  <!-- User Info -->

  <!-- #User Info -->
  <!-- Menu -->
  <div class="menu">
    <ul class="list">
      <li class="header">MAIN NAVIGATION</li>
      <a href="#"><i class="zmdi zmdi-home"></i><span>Home</span></a>
    </ul>
  </div>
  <!-- #Menu -->
</aside>
