<section>
	<div class="container-main" style="margin-top: 100px">
		<div class="heading-container">
			<h2 class="heading-main"> You're all set, visit My Classroom to resume you course! </h2>
			<hr class="text">
		</div>
	</div>
</section>