
<div class="video-container" >
  {{toggle-component}}
  <div class="video-padding">
    <iframe  width="100%" height="100%" src="{{embed video.url}}" frameborder="0" allowfullscreen></iframe>
  </div>
</div>


{{outlet}}
