<div class="quiz-result">
  <div class="inner-quiz-result">
    <a href="{{model.pdfLink}}" >Download PDF</a>
    <h3>{{model.name}}</h3>
    <p>{{markdown-to-html model.markdown}}</p>
  </div>
</div>
