<div class="quiz-result">
  <div class="inner-quiz-result">
    <h3>{{model.name}}</h3>
    <button class="btn custom-btn m-l-5" href="{{model.pdfLink}}" >Download PDF</button>
    <p>{{markdown-to-html model.markdown}}</p>
  </div>
</div>
