<div  id="example" class="started pushable">
  <div class="pusher">
    <div class="full height">
      {{#left-side-bar}}{{/left-side-bar}}
      <div class="article">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
