<div  id="example" class="started pushable">
  <div class="pusher">
    <div class="full height">
        <div class="toc">
            {{#left-side-bar}}{{/left-side-bar}}
        </div>
      <div class="article">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
