<div class="ui container">
    <div class="ui three column doubling stackable grid container">
        <div class="two column">
         <iframe width="100%" src="https://www.youtube.com/embed/oPp4htuqDOs" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="one column">
            {{model.name}}
        </div>
    </div>
    <div class="ui stackable grid container">
        <div class="six column">
          {{model.summary}}
        </div>
        <div class="six column">
          <div class="ui list">
              <a class="item">
                  <i class="right triangle icon"></i>
                  <div class="content">
                      <div class="header">Fees</div>
                      <div class="description">{{model.fees}}</div>
                  </div>
              </a>
          </div>
        </div>
    </div>
    {{#link-to 'take' model.id}}
      <button>Take this course</button>
    {{/link-to}}

</div>

{{outlet}}
