<div class="course-preview">
  <div class="color-line" style="background:#0c9dbf"></div>
  <div class="background-image">
    <div class="row">
        <div class="col-6" style="color: #0e98b9;">
          <div class="row title justify-content-md-center">
            <p class="display-4">
              {{model.title}}
               <p class="subtitle">
                  {{model.subtitle}}
               </p>
            </p>

          </div>
        </div>
        <div class="sample-video-container col-6">
          <div class="row">
            <div class="col-3 video-button">

                <img src="/images/play-video.png" alt="play-video button" data-toggle="modal" data-target="#exampleModal">

            </div>

            <div class="col-9 display-4">
              <p> Sample Video</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button class="enroll-btn">Enroll</button>
            </div>
          </div>
        </div>
    </div>

  </div>

  <!-- Button trigger modal -->
  <div class="modal" id="exampleModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <!--TODO: put video's preview URL here. Hardcode for now.-->
            <iframe class="iframe-video" src="https://www.youtube.com/embed/oPp4htuqDOs" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <p class="h4">Available Runs</p>
  </div>

    <div class="course-card-wrapper row">
      <div class="courses container">
        <div class="course-cards">
          <div class="flex-model row">
            {{#each  model.runs as |run index|}}
                {{preview-component run=run index=index course=model}}

            {{/each}}
          </div>
        </div>
      </div>
    </div>


</div>
