<div class="ui card full-width">
    <div class="content">
        <a class="header"> Question: # {{add index 1}}  </a>
        <div class="meta" style="margin: 10px 0px">
            <span class="date"> {{question.type}}</span>
        </div>
        <div class="description">
          {{question.text}}
        </div>
    </div>
</div>