<nav class="custom-nav navbar navbar-toggleable-md navbar-inverse ">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="toggler-icon">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </span>
    </button>
    {{#link-to 'index' class="navbar-brand" }}
        <div class="logo">
          <h5>Coding Blocks</h5>
          <p> Online </p>
        </div>
    {{/link-to}}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {{#link-to 'index' class="nav-item" tagName="li"}}
                <a class="custom-nav-link nav-link" href="#">Home</a>
            {{/link-to}}
            {{#link-to 'courses.index' class="nav-item" tagName="li"}}
                <a class="custom-nav-link nav-link" href="#">All Courses</a>
            {{/link-to}}
            {{#if session.isAuthenticated}}
                {{#link-to 'classroom.index' class="nav-item" tagName="li"}}
                    <a class="custom-nav-link nav-link" href="#">My Classroom</a>
                {{/link-to}}
            {{/if}}
        </ul>
        {{#if session.isAuthenticated}}
            <button type="button" class="custom-btn" {{action "invalidateSession"}}>Logout</button>
        {{else}}
            <button type="button" class="custom-btn" {{action "login"}}>Login</button>
        {{/if}}
    </div>
</nav>
