<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {{#link-to 'index' class="navbar-brand" }}
        <img src="/images/logo.png" height="30" class="d-inline-block align-top" alt="">
    {{/link-to}}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {{#link-to 'index' class="nav-item" tagName="li"}}
                <a class="nav-link" href="#">Home</a>
            {{/link-to}}
            {{#link-to 'courses.index' class="nav-item" tagName="li"}}
                <a class="nav-link" href="#">All Courses</a>
            {{/link-to}}
            {{#if session.isAuthenticated}}
                {{#link-to 'classroom.index' class="nav-item" tagName="li"}}
                    <a class="nav-link" href="#">My Classroom</a>
                {{/link-to}}
            {{/if}}
        </ul>
        {{#if session.isAuthenticated}}
            <button type="button" class="btn btn-danger" {{action "invalidateSession"}}>Logout</button>
        {{else}}
            <button type="button" class="btn btn-success" {{action "login"}}>Login</button>
        {{/if}}
    </div>
</nav>