<h2 class="ui dividing header">Lecture Name: {{content.name}}<a class="anchor" id="types"></a></h2>

<div class="example">
    <h4 class="ui header">Lecture Name: {{content.name}}</h4>
    <i class="icon code"></i>
    <a class="anchor" id="page-headers"></a>
    <p class="header">Lecture Description: {{content.description}}</p>
</div>


{{yield}}
