<div class="row">
    <div class="col-9">
      {{outlet}}
    </div>
  <div class="col-3 sections">
    <div class="border-heading">
      <span>Table of Contents</span>
    </div>
    <div class="just-padding">
      <div class="list-group list-group-root well">
        {{#each sections as |section| }}
          <a href="#" class="list-group-item">{{section.name}}</a>
          <div class="list-group-child">
            {{#each section.contents as |content| }}
              {{#link-to 'classroom.run.attempt.content' content.id class="list-group-child"}}{{content.payload.name}}{{/link-to}}
            {{/each}}
          </div>
        {{/each}}
        {{#if (not-eq sections.length course.sections.length)}}
          <div class="alert alert-warning" role="alert">
            Please buy the course to unlock further.
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>