<div  id="example" class="started pushable">
  <div class="pusher">
      <div class="full height">
          <div class="toc">
              <div class="ui sidebar inverted vertical menu visible">
                  <div class="item">
                      <a class="ui logo icon image" href="/">
                          <img src="/images/logo.png">
                      </a>
                      <a href="/"><b>Learn Hackerblocks</b></a>
                  </div>
                  <div class="item">
                      {{#link-to 'courses'}}<b>Courses</b>{{/link-to}}
                  </div>

              </div>
              <div class="pusher">
                jkdshj
              </div>
          </div>
          <div class="article">
                     {{outlet}}
          </div>
      </div>
  </div>
</div>



